$background-code-color: #282828;

*, *:before, *:after {
  @include box-sizing(border-box);
}

html,
body {
  background: $background-code-color;
  overflow: hidden;
}

html,
body,
.cowdown-app,
.cowdown-preview,
.cowdown-code,
.cowdown-code textarea {
  min-height: 100%;
  height: 100%;
}

.cowdown-app {
  @include clearfix;
}

.cowdown-preview,
.cowdown-code {
  width: 50%;
  float: left;
  overflow-y: scroll;
}

.cowdown-code textarea {
  background: $background-code-color;
  color: white;
  width: 100%;
  border: 0;
  outline: none;
  padding: 20px;
}

.cowdown-preview {
  background: white;
  padding: 20px;
  margin: 0;
  word-wrap: break-word;
}

img {
  width: 100%;
}
