/* line 202, ../images/icons/*.png */
.icons-sprite, .icons-traffic-close-down-graphite, .icons-traffic-close-down, .icons-traffic-close-hover-graphite, .icons-traffic-close, .icons-traffic-disabled, .icons-traffic-fullscreen-down-graphite, .icons-traffic-fullscreen-down, .icons-traffic-fullscreen-hover-graphite, .icons-traffic-fullscreen, .icons-traffic-graphite, .icons-traffic-minimise-down-graphite, .icons-traffic-minimise-down, .icons-traffic-minimise-hover-graphite, .icons-traffic-minimise, .icons-traffic-zoom-down-graphite, .icons-traffic-zoom-down, .icons-traffic-zoom-hover-graphite, .icons-traffic-zoom-hover {
  background: url('../images/../images/icons-s6f4acf0ac4.png') no-repeat;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-close-down-graphite {
  background-position: 0 -96px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-close-down {
  background-position: 0 -48px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-close-hover-graphite {
  background-position: 0 -72px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-close {
  background-position: 0 -336px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-disabled {
  background-position: 0 -480px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-fullscreen-down-graphite {
  background-position: 0 -216px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-fullscreen-down {
  background-position: 0 -120px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-fullscreen-hover-graphite {
  background-position: 0 -144px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-fullscreen {
  background-position: 0 -288px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-graphite {
  background-position: 0 -432px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-minimise-down-graphite {
  background-position: 0 -360px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-minimise-down {
  background-position: 0 -312px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-minimise-hover-graphite {
  background-position: 0 -264px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-minimise {
  background-position: 0 -240px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-zoom-down-graphite {
  background-position: 0 -456px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-zoom-down {
  background-position: 0 -384px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-zoom-hover-graphite {
  background-position: 0 -408px;
  height: 14px;
  width: 14px;
}

/* line 60, ../../../../../.rbenv/versions/2.1.2/lib/ruby/gems/2.1.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-traffic-zoom-hover {
  background-position: 0 -192px;
  height: 14px;
  width: 14px;
}

/* line 35, sass/partials/_icons.scss */
span[class^=icons-], i[class^=icons-] {
  display: inline-block;
  vertical-align: middle;
  text-indent: -20000px;
}

/* line 1, sass/partials/_resets.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, sass/partials/_resets.scss */
.cowdown-app img {
  width: 100%;
}

/* line 4, sass/partials/_base.scss */
html,
body {
  background: #282828;
  overflow: hidden;
}

/* line 15, sass/partials/_base.scss */
html,
body,
.cowdown-app,
.cowdown-preview,
.cowdown-code,
.cowdown-code textarea {
  min-height: 100%;
  height: 100%;
}

/* line 20, sass/partials/_base.scss */
.cowdown-app {
  overflow: hidden;
  *zoom: 1;
}

/* line 25, sass/partials/_base.scss */
.cowdown-preview,
.cowdown-code {
  width: 50%;
  float: left;
}

/* line 30, sass/partials/_base.scss */
.cowdown-code {
  overflow: hidden;
}

/* line 33, sass/partials/_base.scss */
.cowdown-code textarea {
  background: #282828;
  color: white;
  width: 100%;
  border: 0;
  outline: none;
  padding: 20px;
  text-rendering: optimizeSpeed;
}

/* line 43, sass/partials/_base.scss */
.cowdown-preview {
  background: white;
  padding: 20px;
  margin: 0;
  word-wrap: break-word;
  overflow-y: scroll;
}

/* line 51, sass/partials/_base.scss */
.cowdown-app.disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  pointer-events: none;
}

/* line 1, sass/partials/_header.scss */
.header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #d4d4d4));
  background-image: -webkit-linear-gradient(#f6f6f6, #d4d4d4);
  background-image: -moz-linear-gradient(#f6f6f6, #d4d4d4);
  background-image: -o-linear-gradient(#f6f6f6, #d4d4d4);
  background-image: linear-gradient(#f6f6f6, #d4d4d4);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  height: 38px;
  -webkit-app-region: drag;
}

/* line 10, sass/partials/_header.scss */
.header-controls,
.header-brand,
.header-title {
  float: left;
  display: block;
}

/* line 15, sass/partials/_header.scss */
.header-controls {
  width: 20%;
  padding: 12px 0 0 9px;
}
/* line 19, sass/partials/_header.scss */
.header-controls a {
  text-indent: -20000px;
  overflow: hidden;
  display: block;
  float: left;
  margin-right: 6px;
}

/* line 28, sass/partials/_header.scss */
.header-title {
  text-align: center;
  width: 60%;
  font-size: 12px;
  line-height: 36px;
}

/* line 35, sass/partials/_header.scss */
.header-brand {
  text-align: right;
  padding-right: 6px;
  width: 20%;
}

/* line 41, sass/partials/_header.scss */
.header-logo {
  background: url(../images/cowdown-header-icon.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 35px;
  display: block;
  text-indent: 200000px;
  float: right;
}

/* line 8, sass/partials/_table.scss */
table {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #222222;
  width: 100%;
}
/* line 14, sass/partials/_table.scss */
table thead {
  background: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
/* line 18, sass/partials/_table.scss */
table thead tr, table thead th {
  border: 1px solid #dddddd;
  color: black;
  padding: 10px;
  font-weight: bold;
}
/* line 28, sass/partials/_table.scss */
table tbody tr:nth-child(2n) {
  background: #f9f9f9;
  border-top: 1px solid #eaeaea;
}
/* line 33, sass/partials/_table.scss */
table tbody tr td {
  padding: 5px 10px;
}

/* line 1, sass/partials/_dialogs.scss */
.dialog {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(#e9e9e9, #b2b2b2 21px, #6a6a6a 1px, #ededed, #ededed 23px);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  margin-top: -65px;
  height: 130px;
  z-index: 999;
  border: 1px solid #ccc;
  padding: 10px;
}

/* line 18, sass/partials/_dialogs.scss */
.dialog-content {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
}

/* line 1, sass/partials/_progress.scss */
.progress-bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: none;
  height: 20px;
  width: 100%;
  border: 1px solid #ccc;
  background: #fce1c5;
  overflow: hidden;
}

/* line 11, sass/partials/_progress.scss */
.progress-bar-value {
  width: 1%;
  background: #fb627b;
  height: 100%;
  display: block;
  text-align: center;
  color: #212030;
  font-weight: bold;
  font-size: 12px;
  padding-top: 4px;
}
