/* apply a natural box layout model to all elements */
/* line 2, sass/partials/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, sass/partials/_base.scss */
html,
body {
  min-height: 100%;
  height: 100%;
  background: #fff;
}

/* line 13, sass/partials/_base.scss */
.cowdown-app {
  overflow: hidden;
  *zoom: 1;
  height: 100%;
}

/* line 19, sass/partials/_base.scss */
.cowdown-preview,
.cowdown-code {
  width: 50%;
  height: 100%;
  float: left;
}

/* line 25, sass/partials/_base.scss */
.cowdown-code textarea {
  background: #282828;
  color: white;
  width: 100%;
  border: 0;
  height: 100%;
  outline: none;
  padding: 20px;
  overflow-y: scroll;
}

/* line 36, sass/partials/_base.scss */
.cowdown-preview {
  background: white;
  padding: 20px;
  margin: 0;
  word-wrap: break-word;
}

/* line 43, sass/partials/_base.scss */
img {
  width: 100%;
}

/* line 8, sass/partials/_table.scss */
table {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: #222222;
  width: 100%;
}
/* line 14, sass/partials/_table.scss */
table thead {
  background: #f5f5f5;
  border-bottom: 1px solid #dddddd;
}
/* line 18, sass/partials/_table.scss */
table thead tr, table thead th {
  border: 1px solid #dddddd;
  color: black;
  padding: 10px;
  font-weight: bold;
}
/* line 28, sass/partials/_table.scss */
table tbody tr:nth-child(2n) {
  background: #f9f9f9;
  border-top: 1px solid #eaeaea;
}
/* line 33, sass/partials/_table.scss */
table tbody tr td {
  padding: 5px 10px;
}
